@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400,500,600,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.discount-wrapper{
  position: relative;
}

a, a:hover, a:focus, a:active {
  text-decoration: none!important;
  color: inherit!important;
}

h1 {
  font-size:2.4em!important;
  text-align: center!important;
}

section.banner {
  background-image: url('./assets/img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  font-size: 1.1em;
}

.banner h1 {
  text-align: left!important;
  color: black;
  font-weight: 600;
  font-size: 3em!important;
}

.banner .container .row {
  width: 50%;
}

section {
  margin-top: 4em;
}

.section-header h1 {
  margin-bottom: 0.15em!important;
}

.section-header {
  text-align: center;
}

.section-header {
  margin-bottom: 2em;
}

.navbar {
  padding: 0.75em 0;
}

.navbar img {
  width: 250px;
}

.navbar .profile button {
  font-size: small;
}

#header {
  position: fixed;
  top: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: auto;
  margin-bottom: 50px;
}

.page-wrapper {
  position:relative;
}

.banner {
  position:relative;
  width:100%;
  margin-top: 4.5em!important;
}

.banner .bg {
  display:flex;
  position: relative;
  width: 100%;
  height:75vh;
  
  align-items:center;
  justify-content:left;
}

.cover {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}

.form {
  width: 700px;
  position:relative;
  display:flex;
  flex-direction:column;
  align-items: left;
  justify-content: center;
  margin: 10px 20px;
}

.form h1 {
  margin: 0px 20px;
  color: #32502E;
  font-size:2.5em;
  text-align: left;
}

.form p {
  margin: 0px 20px;
  color: #32502E;
  text-align: left;
}

.form .email{
  width: 50%;
  border: none;
  padding: 5px 15px;
  margin: 5px 20px; 
  letter-spacing:1px;
  border-radius: 5px;
}

.form .btn {
  width: 20%;
  background-color: #32502E;
  color: #FFF;
  min-width: 150px;
}

.form .btn:hover {
  background-color:#ffc800;
}

/* New-Catalog */

.new-catalog{
  position:relative;
  width:100%;
  transition: 0.3s;
}

.new-catalog h1{
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #000000;
  font-size:2em;
  font-weight: 900;
  text-align: left;
}

.new-catalog h1::before{
  content: "New";
  /* text-decoration: underline 3px; */
  color: #32502E;
}

.new-catalog .icons{
  color: #FFCE45;
}

.new-catalog .col-lg-6{
  justify-self: center;
}

.new-catalog .col-3{
  margin: 0px 10px;
  margin-bottom: 10px;
  width: 170px;
  height: 250px;
  text-align: left;
  box-shadow: 0px 0px 30px rgba(1, 41, 112, 0.08);
  min-width: 160px;
  padding: 0px 0px;
  position: relative;
}

.new-catalog .col-3:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
  cursor: pointer;
  background-color:#f6f3e8;
  transform: scale(1.08);
}

.new-catalog .row{
  margin: 0px 5px;
}

.new-catalog .col-3 img{
  width: 100%;
  height: 160px;
  position: relative;
}

.new-catalog .product-info{
  margin-left: 10px;
  font-weight: 550;
  font-size: 10px;
  padding: 0px 0px;
}

.new-catalog .fs-5{
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 10px;
}

.new-catalog .fs-7{
  color: #33793C;
  font-weight: 900;
  font-size: 15px;
}

.new-catalog .col-lg-6{
  padding: 0px 0px;
}

#i-star {
  color: #FFCE45;
}

#i-cart {
  color: #FFF;
  background-color: #FFCE45;
  border-radius: 50px;
  background-size: 500px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

#i-cart:hover {
  background-color: #33793C;
  cursor: pointer;
}

/* Article */
.article {
  position:relative;
  width:100%;
}



.article h1{
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #000000;
  font-size:2em;
  font-weight: 900;
  text-align: left;
}

.article h1::before{
  content: "Nice";
  /* text-decoration: underline 3px; */
  color: #32502E;
}

.article .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.article .col-lg-4{
  width: 420px;
  height: 450px;
  margin-left: 10px;
  
}

.article .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}
.article .post-box .post-img img {
  transition: 0.5s;
}
.article .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 10px;
}
.article .post-box .post-title {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}
.article .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}
.article .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}
.article .post-box:hover .post-title {
  color: #4154f1;
}
.article .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

/* Explore */
.explore {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 375px;
  background-color: #555;
  margin: 20px;
  justify-content: flex-end;
  border-radius: 1em;
}

.card-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.destination {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;
  
  align-items: center;
}

.destination p, ion-icon {
  color: #fff;
}

.location {
  display: flex;
  margin-top: 5px;
}
.location p{
  font-size: 0.75em;
  margin-left: 10px;
}

#video {
  border-radius: 1em;
  margin: 20px 0px;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 20px 20px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.about-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-photo {
  width: 30%;
}

.person-img {
  width: 100%;
  border-radius: 10px;
}

.my-desc {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.my-desc p, .my-desc li {
  font-size: 1em;
}

.greetings {
    margin: 20px 0px;
}

.my-data li {
  list-style: none;
}

@media (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about-content{
    display: flex;
    flex-direction: column;
  }
  .my-desc {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .greetings {
    width: 50%;
    padding: 0px 20px;
  }
  .my-data {
    padding: 0px 20px;
  }
  .my-data li {
    margin: 10px 0px;
  }
  .my-desc p, .my-desc li {
    font-size: 0.75em;
  }
	.contact {
		flex-direction: column;
	}
	
}

@media (max-width: 1400px) {
  .article .row div {
    margin-top: 1em;
  }
}


.discount {
  background: url(./assets/img/discount_section.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 154px;
  border-radius: 10px;
  display: flex!important;
  align-items: center;
  justify-content: space-evenly;
}

.discount p {
  color: white;
  font-weight: medium;
  font-size: 48px;
  margin-bottom: 0px;
}

.discount p.discount-wrapper {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 5px;
  font-size: 28px;
  padding: 4px 60px;
  cursor: pointer;
}

.carousel-inner {
  width: 100%!important;
  height: 100%!important;
}

.carousel-inner .carousel-item {
  object-fit: cover!important;
  width: 100%!important;
  height: 100%!important;
}

.carousel-inner div img {
  object-fit: cover!important;
  width: 100%!important;
  height: 100%!important;
}

/* Profil */

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #10b88b;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(12, 197, 104, 0.628), rgb(201, 218, 215));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255))
}

/* History */
#i-star {
  color: #FFCE45;
}

#p-cart {
  color: #FFF;
  background-color: #FFCE45;
  border-radius: 50px;
  background-size: 500px;
  position: absolute;
  bottom: 45px;
  right: 24px;
}

#p-cart:hover {
  background-color: #33793C;
  cursor: pointer;
}

/* Discount CSS*/
.discount-wrapper * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif
}

.discount-wrapper body {
  margin-top: 30px;
  background-color:rgb(128, 23, 23);
}

.discount-wrapper .container {
  min-height: 30px;
  padding: 9px 0;
  display: flex;
  align-items: center;
}

.discount-wrapper p {
  margin: 0px
}

.discount-wrapper .card {
  width: 615px;
  height: 276px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden
}

.discount-wrapper .card .backgroundEffect {
  bottom: 0;
  height: 0px;
  width: 100%
}

.discount-wrapper .card:hover {
  color: #fff;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.discount-wrapper .card:hover .backgroundEffect {
  bottom: 0;
  height: 320px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: hsla(162, 86%, 11%, 0.473);
  animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }

  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }

  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }

  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}

.discount-wrapper .card .pic {
  position: relative
}

.discount-wrapper .card .pic img {
  width: 623px;
  height: 118px;
  object-fit: scale-down;
  padding: 0.25rem;
  background-color: #afc8ba;
  max-width: 100%;
}

.discount-wrapper .card .date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 102px;
  height: 38px;
  background-color: #334730;
  color: white;
  position: absolute;
  bottom: -18px;
  transition: all ease
}

.discount-wrapper .card .date .day {
  font-size: 14px;
  font-weight: 600
}

.card .date .month,
.card .date .year {
  font-size: 10px
}

.discount-wrapper .card .text-muted {
  font-size: 12px
}

.discount-wrapper .card:hover .text-muted {
  color: #fff !important
}

.discount-wrapper .card .content {
  padding: 0 20px
}

.discount-wrapper .card .content .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: #49775dcf;
  border-radius: 25px;
  font-size: 12px;
  border: none
}

.discount-wrapper .card:hover .content .btn {
  background: #fff;
  color: #1b9ce3;
  box-shadow: #0000001a 0px 3px 5px
}

.discount-wrapper .card .content .btn .fas {
  font-size: 10px;
  padding-left: 5px
}

.discount-wrapper .card .content .foot .admin {
  color: #1b9ce3;
  font-size: 12px
}

.discount-wrapper .card:hover .content .foot .admin {
  color: #fff
}

.discount-wrapper .card .content .foot .icon {
  font-size: 12px
}