@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.page-wrapper {
  position:relative;
}

a, a:hover, a:focus, a:active {
  text-decoration: none!important;
  color: inherit!important;
}

.navbar {
  padding: 0.75em 0;
}

.navbar img {
  width: 250px;
}

.navbar .profile button {
  font-size: small;
}

#header {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #FFF;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  padding: 10px 40px;
  z-index: 999;
}

#header img {
	width: 250px;
}

#nav-bar ul {
  display: flex;
}

#nav-bar li {
  list-style: none;
  margin-left: 20px;
}

#nav-bar a {
  text-decoration: none;
  color: #222; 
}

#nav-bar a:hover{
  color: #ff5a26;
  cursor: pointer;
}

#nav-bar ion-icon {
    color: #32502E;
    font-size: 24px;
}

.banner {
  position:relative;
  width:100%;
  margin-top: 60px;
}

.banner .bg {
  display:flex;
  position: relative;
  background:#222;
  width: 100%;
  height:75vh;
  
  align-items:center;
  justify-content:left;
}

.cover {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit: cover;
}

.form {
  width: 700px;
  position:relative;
  display:flex;
  flex-direction:column;
  align-items: left;
  justify-content: center;
  margin: 10px 20px;
}

.form h1 {
  margin: 0px 20px;
  color: #32502E;
  font-size:2.5em;
  text-align: left;
}

.form p {
  margin: 0px 20px;
  color: #32502E;
  text-align: left;
}

.form .email, .btn{
  width: 50%;
  border: none;
  padding: 5px 15px;
  margin: 5px 20px; 
  letter-spacing:1px;
  border-radius: 5px;
}

.form .btn {
  width: 20%;
  background-color: #32502E;
  color: #FFF;
  min-width: 150px;
}

.form .btn:hover {
  background-color:#ffc800;
}

/* New-Catalog */

.new-catalog{
  position:relative;
  width:100%;
  margin: 10px 20px;
  transition: 0.3s;
}

.new-catalog h1{
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #000000;
  font-size:2em;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}

.new-catalog h1::before{
  content: "New";
  text-decoration: underline 3px;
  color: #32502E;
}

.new-catalog .icons{
  color: #FFCE45;
}

.new-catalog .col-lg-6{
  justify-self: center;
}

.new-catalog .col-3{
  margin: 0px 10px;
  margin-bottom: 10px;
  width: 170px;
  height: 250px;
  text-align: left;
  box-shadow: 0px 0px 30px rgba(1, 41, 112, 0.08);
  min-width: 160px;
  padding: 0px 0px;
  position: relative;
}

.new-catalog .col-3:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
  cursor: pointer;
  background-color:#f6f3e8;
  transform: scale(1.08);
}

.new-catalog .row{
  margin: 0px 5px;
}

.new-catalog .col-3 img{
  width: 100%;
  height: 160px;
  position: relative;
}

.new-catalog .product-info{
  margin-left: 10px;
  font-weight: 550;
  font-size: 10px;
  padding: 0px 0px;
}

.new-catalog .fs-5{
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 10px;
}

.new-catalog .fs-7{
  color: #33793C;
  font-weight: 900;
  font-size: 15px;
}

.new-catalog .col-lg-6{
  padding: 0px 0px;
}

#i-star {
  color: #FFCE45;
}

#i-cart {
  color: #FFF;
  background-color: #FFCE45;
  border-radius: 50px;
  background-size: 500px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

#i-cart:hover {
  background-color: #33793C;
  cursor: pointer;
}

/* Article */
.article {
  position:relative;
  width:100%;
  margin: 10px 20px;
}

.article h1{
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #000000;
  font-size:2em;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
}

.article h1::before{
  content: "NICE";
  text-decoration: underline 3px;
  color: #32502E;
}

.article .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.article .col-lg-4{
  width: 420px;
  height: 450px;
  margin-left: 10px;
  
}

.article .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}
.article .post-box .post-img img {
  transition: 0.5s;
}
.article .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 10px;
}
.article .post-box .post-title {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}
.article .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}
.article .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}
.article .post-box:hover .post-title {
  color: #4154f1;
}
.article .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}



/* Explore */
.explore {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 375px;
  background-color: #555;
  margin: 20px;
  justify-content: flex-end;
  border-radius: 1em;
}

.card-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.destination {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15px;
  
  align-items: center;
}

.destination p, ion-icon {
  color: #fff;
}

.location {
  display: flex;
  margin-top: 5px;
}
.location p{
  font-size: 0.75em;
  margin-left: 10px;
}

#video {
  border-radius: 1em;
  margin: 20px 0px;
}

/* about */
.about {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 20px 20px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.about-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.my-photo {
  	width: 30%;
}

.person-img {
  width: 100%;
  border-radius: 10px;
}

.my-desc {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.my-desc p, .my-desc li {
  font-size: 1em;
}

.greetings {
    margin: 20px 0px;
}

.my-data li {
  list-style: none;
}

.profile .hyperlink {
  display: none;
  align-items: center;
}

@media (max-width: 800px) {
  .about {
    display: flex;
    flex-direction: column;
  }
  .about-content{
    display: flex;
    flex-direction: column;
  }
  .my-desc {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .greetings {
    width: 50%;
    padding: 0px 20px;
  }
  .my-data {
    padding: 0px 20px;
  }
  .my-data li {
    margin: 10px 0px;
  }
  .my-desc p, .my-desc li {
    font-size: 0.75em;
  }
	.contact {
		flex-direction: column;
	}
	
}

/* contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#32502E;
  padding: 10px 40px;
  
}

.contact .contact-logo {
  display:flex;
  align-items: center;
  margin: 0px 10px;
}

.contact .contact-logo p {
  color: #fff;
}

.contact ion-icon {
  color: #fff;
  font-size: 1.5em;
  margin: 5px 10px;
}

