@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400,500,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;

}

:root {
    --main_green: #32502E;
    --second_green: #406343;
    --main_yellow: #ECE7B4;
    --light_yellow: #F3EFCC;
    --highlight_yellow: #FFCE45;
    --white: #FFFFFF;
}

.main-container {
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cart-header img{
  width: 4%;
  height: auto;
}

.container1 {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 1em;
  flex: 2;
}

.container2 {
  width: auto;
  background-color: var(--main_green);
  border-radius: 1em;
  flex: 1;
}

.input-coupon input{
  width: 100%;
  padding: 9px 20px;
  margin: 10px 0;
  display: inline-block;
  background-color: transparent;
  border-radius: 20px;
  border-color: var(--main_yellow);
  border-style: solid!important;
  color: var(--main_yellow);
}

.container-apply-button a {
  color: #32502E;
}

.coupon-button {
  margin: 10px 30px;
  border: 2px solid var(--main_yellow);
  color: var(--white);
  border-radius: 50px;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.3s;
}

.checkout-btn ul li {
  margin-top: 1em;
  width: 100%;
  text-align: center;

  border: var(--main_yellow);
  background: var(--main_yellow);
  color: var(--main_green);

  font-weight: 600;
}

.checkout-btn ul li:hover {
  background: var(--light_yellow);
  border: var(--light_yellow);
  border-radius: 30px;

  -webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}


.apply-btn {
  background-color: var(--main_yellow);
  cursor: pointer;
}

.payment-methods {
  color: var(--white);
}


/* ----- EFFECT 10 - Transform Shape with Border */

a.bdr_btm {
  cursor: pointer;
}

.menu,
.menu .menu_title,
.menu ul li a,
.menu ul li a:after,
.menu ul li a:before {
	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.menu {
	margin: 0;
}

.menu ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline-block;
}

.menu ul li:hover {
	color: var(--main_green);
  display: inline-block;
}

.menu ul li a {
	color: var(--main_green);
	display: block;
	line-height: 50px;
	padding: 0 30px;
	text-decoration: none;
}

.menu.effect-10 ul li a {
  border: 1px solid rgba(0,0,0,0);
  margin: 0 10px;
}
.menu.effect-10 ul li a.bdr_btm {
  border-bottom: 1px solid var(--main_yellow);
}

.menu.effect-10 ul li a:hover {
  background: var(--light_yellow);
  border: 1px solid var(--main_yellow);
  border-radius: 30px;
}

.col-3{
  margin: 0px 10px;
  margin-bottom: 10px;
  width: 170px;
  height: auto;
  min-height: 250px;
  text-align: left;
  box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 8%);
  min-width: 160px;
  padding: 0px 0px;
  position: relative;
}

.col-3:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transition: 0.2s ease;
  cursor: pointer;
  background-color:#f6f3e8;
  transform: scale(1.08);
}

.container2 p {
  font-size: 14px!important;
  font-weight: 600;
}

#apply-button {
  cursor: pointer;
}

tr:nth-child(even),
.modal-body-invoice .brief-information div:nth-child(even) {
  background-color: #edf5ec;
}

.modal-body-invoice .brief-information p {
  margin: 10px;
}

.modal-body-invoice .brief-information {
  margin-bottom: 20px;
}

.modal-footer button {
  width: auto;
}

.modal-footer button {
  background-color: #32502E;
  border-color: #32502E;
  color: white!important;
}

.modal-footer button:hover {
  background-color: #21301f;
}
