footer {
  min-height: 150px;
  background-color: #232323;
  padding-top: 30px;
}

footer h4 {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

footer h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px!important;
}

.contact-us li{
  display: flex;
}

footer ul {
  color: white;
  list-style: none;
  padding-left: 0px!important;
}

footer p {
  margin-bottom: 5px!important;
}

.opening-time li{
  display: flex!important;
  justify-content: space-between;
}

footer a:hover {
  color: rgb(168, 168, 168)!important;
}