@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logout-button,
.login-button {
  color: #32502E!important;
  font-weight: 600!important;
  border-color: #32502E!important;
}

.logout-button:hover,
.login-button:hover {
  color:white!important;
  font-weight: 600!important;
  background-color: #32502E;
}

.profile .hyperlink {
  display: none;
  align-items: center;
}

.profile-button,
.register-button {
  background-color: #32502E;
  border-color: #32502E;
}

.profile-button:hover,
.register-button:hover {
  background-color: #21301f;
}

.profile-button,
.register-button,
.profile-button:hover,
.register-button:hover{
  color: white!important;
  font-weight: 600!important;
}

nav .btn {
  font-size: 15px;
}

nav a {
  color: #32502E;
}

.nav-link {
  font-size: 18px;
}

nav a:hover {
  color: #899288!important;
}

a, a:hover, a:focus, a:active {
  text-decoration: none!important;
  color: inherit!important;
}

.navbar {
  padding: 0.75em 0;
}

.navbar img {
  width: 250px;
}

.navbar .profile button {
  font-size: small;
}

.btn{
  width: 50%;
  padding: 5px 15px;
  margin: 6px 20px; 
  letter-spacing:1px;
  border-radius: 5px;
}

.modal-footer-cart .btn {
  width: initial;
}

.modal-footer-cart .btn {
  font-weight: 600!important;
  background-color: #32502E!important;
  border-color: #32502E;
}

.modal-footer-cart .btn:hover {
  background-color: #21301f!important;
}

.profile a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge-text {
  color: #21301f;
}

.modal-header{
  background-color: #21301f;
  color: white;
} 


.new-catalog .product-info{
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 550;
  font-size: 10px;
  padding: 0px 0px;
}

#i-star {
  color: #FFCE45;
}

.i-cart {
  color: #FFF;
  background-color: #FFCE45;
  border-radius: 50px;
  background-size: 500px;
  position: absolute;
  bottom: 15px;
  right: 20px;
}

.new-catalog .col-3{
  margin: 0px 10px;
  margin-bottom: 10px;
  width: 170px;
  height: auto;
  min-height: 250px;
  text-align: left;
  box-shadow: 0px 0px 20px 10px rgb(0 0 0 / 8%);
  min-width: 160px;
  padding: 0px 0px;
  position: relative;
}

.new-catalog input {
  border-style: none;
}

.new-catalog p, .new-catalog input, .new-catalog label{
  font-size: 13px;
}

.modalbox-cart .new-catalog .row {
  justify-content: center!important;
}